
extends pug/base

block content
  main.main.sub-page
    .container
      ul.breadcrumb-list.hidden-xs
        li.breadcrumb-list__item
          a.breadcrumb-list__link(href="#") Главная
        li.breadcrumb-list__item Сотрудничество
      .sub-page__entry
        h1.title.sub-page__title Сотрудничество
        h2.title.title--md Поставщикам
        p.description.description--mb-lg При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
        h2.title.title--md Что вы получаете?
        ul.list-icons
          li.list-icons__item
            +svg("icon-network", "list-icons__icon")
            | Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
          li.list-icons__item
            +svg("icon-briefcase", "list-icons__icon")
            | Комплексное решение для красивого и функционального обустройства любых пространств.
          li.list-icons__item
            +svg("icon-request", "list-icons__icon")
            | В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
        h3.title.title--md.title--mobile-xs Ваши преимущества от сотрудничества
        h4.title.title--xs Возможность 1:
        p.description Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.
        h4.title.title--xs Возможность 2:
        p.description.description--mb-lg Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
        h2.title.title--md Гарантии
        ol.list-number
          li.list-number__item При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
          li.list-number__item На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца), гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
          li.list-number__item Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
        .title.title--lg.title--whith-icon
          | Срок гарантии на нашу мебель составляет от 18 до 60 месяцев

