// Color
$color-white: #fff;
$color-black: #333;
$color-grey-66: #666;
$color-grey-99: #999;
$color-grey-b7: #B7B7BF;
$color-grey-f6: #F6F6F6;
$color-grey-f7: #F7F7F7;
$color-grey-ea: #EAEAEA;
$color-grey-f8: #F8EFFF;
$color-grey-eb: #EBD1FF;
$color-grey-ff: #FFF5D1;
$color-primary: #A65CF0;
$color-primary-hover: #C998FB;
$color-primary-active: #7033AC;
$color-primary-focus: #EBD1FF;
$color-secondary: #FF862F;
$color-secondary-hover: #FFBD59;
$color-secondary-active: #BB370E;
$color-secondary-focus: #FFF5D1;
$color-gold: #D5B986;
$color-red: #FF6972;
$color-green: #B8EC64;

// Font
$font-family-opensans400: 'Open Sans Regular', sans-serif;
$font-family-opensans700: 'Open Sans Bold', sans-serif;
$font-family-opensans600: 'Open Sans SemiBold', sans-serif;
$font-family-playfair900: 'Playfair Display Black', Times, serif;

// Breakpoints
$lg: 1295px;
$md: 1048px;
$sm: 980px;
$xs: 767px;
$xxs: 650px;
$xxxs: 350px;

// Padding
$padding-md: 37px;
$padding-sm: 72px;
$padding-xs: 20px;
$padding-xxs: 12px;

// Choices
$choices-bg-color: #fff;
$choices-keyline-color: #F7F7F7;
$choices-border-radius: 10px;
$choices-font-size-md: 16px;
$choices-font-size-sm: 16px;


